<header>
    <div id="spinner"></div>
    <h1>When</h1>
    <div class="float-right">
        <a href="#" id="refreshButton">refresh</a>
        <select id="boards">
            <option value="">Loading boards...</option>
        </select>
    </div>
</header>

<section id="content">
    <section id="calendar">
        
    </section>
</section>

<footer></footer>